* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    margin: 0
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    /* height: 100vh; */
    position: relative;
} 

#background-img {
    background: url(assets/img/cartoon-3.jpeg) no-repeat center center/cover;
    height: 100vh;
    /* filter: blur(3px); */
    width: 100%;
}

#opening-page {
    width: 80%;
    height: 35%;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 3px 3px 5px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1.5s;
} 

#opening-page h1 {
    margin-bottom: 0px
}

#opening-page.active {
    height: 80%;
    width: 95%;
}

#form.active {
    display: none;
}

label {
    
    display: inline-block;
    width:35%;
    text-align: right;
}

select {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}

#form-button {
    margin-top: 5px
}

#card-container {
    height: 80%;
    width: 100%;
    padding: 5px;
    overflow: scroll;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px; 
}


.card {
    /* easy mode */
    /* height: 90px;
    flex: 1 0 22%; */
/* 
    height: 63px;
    flex: 1 0 17% */

    /* height: 44px;
    flex: 1 0 12%; */

    perspective: 1000px;
    transition: transform 0.6s;
}

.card.flipped {
    transform: rotateY(360deg)
}

#reset {
    display: none;
    width: 25%;
    margin: 0 auto
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  #card-container {
    width: 50%;
    margin: 0 auto
}

#opening-page.active {
    height: 95%
}
}